<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <appSettings>
    <add key="dbpath" value="C:\Work\Uni\Primo Anno\Primo Semestre\Sistemi Distribuiti\Progetto-Zyzzyva\ZyzzyvaSolution\ProgettoDistribuiti\Zyzzyva\src\Main\Database\DB\testAkkaActorDB.sqlite"/>
  </appSettings>
</configuration>