<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <appSettings>
    <add key="dbpath" value="C:\Users\faspe\Downloads\Distribuiti\ProgettoDistribuiti\Zyzzyva\Database\DB\testAkkaActorDB.sqlite"/>
  </appSettings>
</configuration>