<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <connectionStrings>
    <clear/>
    <add name="myConnectionString" connectionString="myDB://MyConnectionString"/>
  </connectionStrings>

  <akka>
    <hocon>
      <![CDATA[
              akka {
          actor {
            provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            serializers {
                      wire = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
                }
                serialization-bindings {
                  "System.Object" = wire
                }
            deployment {
              /node/processorRouter {
                router = round-robin-group
                routees.paths = ["/user/node/processor"]
                cluster {
                  enabled = on
                  allow-local-routees = on
                }
              }
            }
          }
          remote {
            log-remote-lifecycle-events = DEBUG
            dot-netty.tcp {
              hostname = "localhost"
              port = 0
            }
          }
          cluster {
            seed-nodes = [
              "akka.tcp://cluster-playground@localhost:2551",
              "akka.tcp://cluster-playground@localhost:2552",
              "akka.tcp://cluster-playground@localhost:8080"
            ]
            auto-down-unreachable-after = 10s
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>