<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <connectionStrings>
    <clear/>
    <add name="myConnectionString" connectionString="myDB://MyConnectionString"/>
  </connectionStrings>

  <akka>
    <hocon>
      <![CDATA[
              akka {
          actor {
            provider = "cluster"
            deployment {
              /node/processorRouter {
                router = round-robin-group
                routees.paths = ["/user/node/processor"]
                cluster {
                  enabled = on
                  allow-local-routees = on
                }
              }
            }
          }
          remote {
            log-remote-lifecycle-events = DEBUG
            netty.tcp {
              hostname = "127.0.0.1"
              port = 2552
            }
          }
          cluster {
            seed-nodes = [
              "akka.tcp://cluster-playground@localhost:2552"
            ]
            auto-down-unreachable-after = 10s
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>